$sc-orange: #f50;
$header-color: #4d4d4d;
$footer-color: #4d4d4d;

/*** Generic styles ***/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: url('../img/squared_metal_@2X.png');
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

iframe {
  width: 80%;
  height: 250px;
}

.page-centered {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hidden {
  display: none;
}

/*** Header styles ***/

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  border-bottom: 4px groove $sc-orange;
  background: url('../img/navy_blue.png');
}

.title {
  text-shadow: 0 0 5px $sc-orange;
  font-size: 2.25em;
  display: inline-block;


  &:hover {
    color: lighten($sc-orange, 20%);
    cursor: pointer;
  }
}

/*** Content styles ***/

.content {
  min-height: 100%;
  line-height: 0;
  min-width: 100%;
  margin: 84px auto -64px;
}

.scgrid-image {
  height: 110px;
  width: 110px;
  z-index: 1;
  margin: 0;

  &:hover {
    margin: 5px;;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 25px $sc-orange;
    cursor: pointer;
  }
}

.player {
  width: 50%;
  height: 200px;
  position: fixed;
}

.content:after {
  content: "";
  display: block;
  height: 64px;
}

/*** Footer styles ***/

.footer {
  background: url('../img/navy_blue.png');
  width: 100%;
  height: 64px;
  border-top: 4px groove $sc-orange;
  line-height: 64px;

  position: fixed;
  bottom: 0;

}

.footer p {
  width: 70%;
  margin: auto 10px;
  display: inline;
}

.footer a{
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed $sc-orange;
}

.footer a:hover {
  border-bottom: none;
  color: lighten($sc-orange, 20%);
}
