$sc-orange: #f50;
$header-color: #4d4d4d;
$footer-color: #4d4d4d;

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background: url('../img/squared_metal_@2X.png');
  font-family: 'Droid Sans', sans-serif;
  color: white;

  text-align: center;


}

.header {
  background: $header-color;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;

  border-bottom: 4px groove $sc-orange;

  background: url('../img/navy_blue.png');


}

.title {
  text-shadow: 0 0 5px $sc-orange;
  font-size: 2.25em;
}

.footer {
  // background: $footer-color;

  background: url('../img/navy_blue.png');




  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  // height: 60px;

  // z-index: 999;


  border-top: 4px groove $sc-orange;
}

.content {
  min-height: 100%;

// margin-top: 84px;

margin: 84px auto -64px;

  /* equal to footer height */
  // margin-bottom: -64px;
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  /* .push must be the same height as footer */
  height: 64px;
}

.page-centered {
  position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;

      margin: auto;
}

iframe {
  width: 80%;
  height: 250px;
  // height: 10%;
  // width: 10%;
}

.player {
  width: 50%;
  height: 200px;
  position: fixed;
}

.content {
  overflow-y: none;

  // margin: auto;

  // margin-top: 84px;
  // margin-bottom: 64px;
  width: 90%;

  // padding-bottom: 64px;

}

#main-content .scgrid-image {
  // margin: auto;
}

.grid-span {
  margin: 0;



}

.scgrid-image {



  height: 110px;
  width: 110px;
  z-index: 1;
  margin: 0;


  &:hover {

    margin: 5px;;

    height: 100px;
    width: 100px;

    // z-index: 99999;

    box-shadow: 0px 0px 25px $sc-orange;
    cursor: pointer;
  }
}

.bottom-fixed {

}

.hidden {
  // visibility: hidden;
  display: none;
}